<form [formGroup]="form" (ngSubmit)="submit()">
<h1 mat-dialog-title>Add Department </h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Department Name</mat-label>
    <input matInput formControlName="deptName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Department Code</mat-label>
    <input matInput formControlName="deptCode">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancle</button>
  <button mat-button type="submit" cdkFocusInitial >Save</button>
</div>

</form>