
   
   .menu-spacer {
     flex: 1 1 auto;
   }
   
   .menu-height{
    height: calc(100% - 64px) !important;
    background:white;
  }

  .active {
    background-color: rgb(27, 78, 104) !important;
    color: white !important;
    font-weight: bold!important;
  }
